.forms form {
    border: 1px solid black;
    padding-top: 10px;
    margin-top: 50px;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 5%;
    padding-left: 55px;
    border-style: double ;
    box-shadow:
    0 0 0 10px hsl(0, 72%, 65%),
    0 0 0 15px hsl(296, 95%, 46%);
}

.forms input, button{
    border: 1px solid black;
    display:block;
    
}

.forms button{
    margin-bottom: 20px;
}