/* @tailwind base;
@tailwind components;
@tailwind utilities; */


nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* background-color: red; */
}

nav .link{
    margin-top: 15px;
    font-weight: bold;
    color: blue;
    text-shadow: white 1px 0 4px;
    text-decoration: none;
}